
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


@font-face {
	font-family: "SVN-Gotham";
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/gotham-rounded/gothamlight.ttf');
  }
  @font-face {
	font-family: "SVN-Gotham";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/gotham-rounded/gothambook.ttf');
  }
  @font-face {
	font-family: "SVN-Gotham";
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/gotham-rounded/gothammedium.ttf');
  }
  @font-face {
	font-family: "SVN-Gotham";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/gotham-rounded/gothambold.ttf');
  }
* {
	box-sizing: border-box;
	font-family: "SVN-Gotham", sans-serif;
	padding: 0;
	margin: 0;
}

.main_admin {
	margin-left: 20%;
	transition: linear 0.2s;
	padding: 15px 15px;
}

.mt-16 {
    margin-top: 16px;
}

.pl-10 {
    margin-left: 10px;
}

.pr-10 {
    margin-right: 10px;
}

.title-container h1 {
	font-weight: bold;
	font-size: 32px;
}

.form-container span {
	font-size: 12px;
}

.form-container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.social-container .social {
    color: #333;
	text-decoration: none;
	margin: 15px 0;
}

.social-container .social i {
    font-size: 20px;
}

.signin button,
.signup button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.signin button::before,
.signup button::before {
	position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	transform: scale(1, 1);
	transform-origin: left center;
    z-index: -1;
	transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),-webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: #1c1c1c;
}

.signin button:active,
.signup button:active {
	transform: scale(0.95);
}

.signin button:focus,
.signup button:focus {
	outline: none;
}

.signin .button.ghost,
.signup .button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.signin form,
.signup form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.signin input,
.signup input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.signin {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
}

.signup {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 180px;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 500px;
	max-width: 100%;
}

.sign-in-container {
	min-height: 480px;
}

.sign-up-container {
	min-height: 550px;
}

.form-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 88%;
	transition: all 0.6s ease-in-out;
}

.title-container {
	margin-top: px;
}

.social-container {
	margin: 20px 0;
	display: flex;
	align-items: center;
}

.social-container .social {
	padding: 0 10px;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.social i {
	border: 1px solid gray;
    border-radius: 50%;
    padding: 7px 7px;
}

.register-container a {
	font-size: 12px;
	color: #3498db;
	float: right;
	margin: 20px 15px 0px;
	text-decoration: underline;
	padding: 15px 0;
}

.back-sign-in-container a {
	float: right;
	margin: 20px 15px 0px;
	padding: 15px 0;
	color: #3498db;
	text-decoration: underline;
	font-size: 12px;
}

/* header */
.header {
    margin-left: 10px;
    margin-right: 10px;
	padding: 0 116px;
	font-family: "SVN-Gotham", sans-serif;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    border-bottom: 1px solid #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-top-left {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33333333%;
}

.header-top-left-text {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
}

.header-top-left-text a {
    text-decoration: none;
    color: #333;
	transition: all 150ms ease-in-out;
	font-weight: bold;
}

.header-top-left-text a:hover {
	color: #916841;
	background-color: transparent;
}

.header-top-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33333333%;
}

.header-top-logo img {

	height: 150px;
}

.header-top-right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33333333%;
}

.header-top-right .items {
    list-style: none;
	padding: 0;
}

.header-top-right .items .item:hover .dropdown-menu {
	display: block;
}

.header-top-right .items .item .dropdown-menu {
	left: -5px;

}

.header-top-right .items .item {
    display: inline-block;
	position: relative;
}

.nav-link {
	font-size: 14px;
    text-decoration: none;
    color: #333;
	font-weight: 500;
    color: #1c1c1c;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    white-space: nowrap;
	transition: all 150ms ease-in-out;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
}

.header-top-right .item a:hover {
	color: #916841;
}

/* .header-navbar {
    
} */

.header-navbar .nav {
    list-style: none;
    display: flex;
	justify-content: space-around;
    align-items: center;
	padding-left: 0;
    margin-bottom: 0;
}

.header-navbar .nav .nav-item {
	position: relative;
}

.header-navbar .nav .nav-item a:hover {
	color: #916841;
	cursor: pointer;
}

/* nav-menu */

.navigation-menu {
	display: none;
	background-color: #3498db;
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	z-index: 9999;
	overflow-y: hidden;
	color: #1c1c1c;
	height: 100%;
}

.navigation-menu .nav {
	list-style: none;
	padding: 0;

}

.navigation-menu .nav .nav-item {
	border-bottom:1px solid rgba(92,92,92,0.1);
	width: 100%;
}

.navigation-menu .dropdown-menu .nav-item-lv2 .nav-link {
	text-transform: uppercase;
}

.navigation-menu .nav i {
	width: 40px;
	height: 20px;
	float: right;
	text-align: center;
}

.navigation-menu .nav .nav-link {
	cursor: pointer;
	text-transform: none;
	font-family: "SVN-Gotham";
	font-size: 13px;
	text-align: left;
}

/* footer */

.footer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 25px;
	font-family: "SVN-Gotham";
	color: #1c1c1c;
	font-size: 12px;
	padding: 0 120px;
	background-color: rgb(249 249 249);
	width: 100%;
}

.footer-widget {
	width: 25%;
	letter-spacing: 1px;
	padding: 0 10px;
}

.footer-widget .list-menu {
	list-style: none;
	padding: 0;
}

.footer-widget .list-menu li {
	margin-bottom: 7px;
}

.footer-widget .list-menu li a {
	text-decoration: none;
	color: #1c1c1c;
}

.footer-widget .list-menu .nav-link {
	font-size: 12px;
	font-weight: 400;
	padding: 6px 0;
	white-space: break-spaces;
	word-break: break-word;
	text-align: left;
}

.footer-widget h3 {
	text-transform: uppercase;
	
}

.footer-widget form {
	height: auto;
	align-items: flex-start;
	padding: 0;
}

.footer-widget form input {
	line-height: 40px;
	padding: 0 15px;
}

.footer-widget form button {
	position: relative;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #000;
	border-radius: 0;
	width: 100%;
	cursor: pointer;
    text-align: center;
    font-weight: 500;
    line-height: 2.5;
    margin-top: 5px;
}

.footer-widget form button:hover {
	color: red;
}

/* .footer-widget-social {
	
} */
.email_recipient {
	display: flex;
	flex-direction: column;
}

.footer-widget-social .list-menu {
	text-align: center;
	padding: 0;
}

.footer-widget-social .list-menu li {
	display: inline-block;
	padding: 10px 5px;
}

.footer-widget-social .list-menu .item {
	font-size: 25px;
}

.footer-widget-social .list-menu .item i {
	color: #333;
}

.copyright {
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.4px;
	padding: 8px;
	border-top: 1px solid #ebebeb;
}

/* dropdown menu */

.dropdown-menu {
	position: absolute;
	list-style: none;
	padding: 0;
	border: 1px solid #333;
	left: -30px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 220px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);

}

.dropdown-menu::before {
    content: "";
	position: absolute;
	width: 100%;
	height: 20px;
    top: -16px;
    display: block;
}

.header .nav-item:hover .dropdown-menu {
	display: block;
}

.dropdown-menu .nav-item-lv2 {
	border-bottom: 1px solid #f7f7f7;
}

.dropdown-menu .nav-item-lv2:last-child {
	border: none;
}

.header .dropdown-menu .nav-item-lv2 .nav-link {
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
}

/* Main */
/* .main {

} */

/* Slider show */
.awe-section-1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	width: 100%;
	height: 800px;
	overflow: hidden;
}

.slider input {
	display: none;
}

.slides {
	width: 500%;
	height: 800ox;
	display: flex;
}

.slide {
	width: 20%;
	transition: 2s;
}

.slide img {
	width: 100%;
	height: 800px;
}

/* css for manual */

.navigation-manual {
	position: absolute;
	width: 99%;
	margin-top: 741px;
	display: flex;
	justify-content: center;
}

.navigation-manual .manual-btn {
	border: 1px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	overflow: hidden;
}

.navigation-manual .manual-btn:not(:last-child) {
	margin-right: 40px;
}

.navigation-manual .manual-btn:hover {
	background-color: #40D3DC;
}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -20%;
}

#radio3:checked ~ .first {
	margin-left: -40%;
}

#radio4:checked ~ .first {
	margin-left: -60%;
}

/* css for automatic navigation */

.navigation-auto {
	position: absolute;
	display: flex;
	justify-content: center;
	margin-top: 765px;
	width: 99%;
	visibility: hidden;
}

.navigation-auto div {
	border: 1px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
	background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
	background: #40D3DC;

}

#radio3:checked ~ .navigation-auto .auto-btn3 {
	background: #40D3DC;

}

#radio4:checked ~ .navigation-auto .auto-btn4 {
	background: #40D3DC;
}

/* css for awe-sct-2 */
.awe-section-2 {
	margin: 0 100px;
}

.section-product {
	padding: 40px 0 0;
	
}

.product-head {
	text-align: center;
}

.product-head a {
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.product {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	border-bottom:1px solid rgba(92,92,92,0.1);

}

.product-card {
	float: left;
	padding: 0 9.8px 19.6px;
	text-align: center;
	overflow: hidden;
	width: 25%;
	height: 370px;
}

.product-card .product-card-img {
	margin: 5px;
	
}

.product-card .product-card-img img {
	width: 100%;

}

.category {
	opacity: .7;
	white-space: nowrap;
	font-size: .75em;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 0;
}

.product-title {
	margin: 3px 0 4px 0;
}

.product-title a {
	color: #007784;
	text-decoration: none;
	font-size: 14px;
	transition: initial 1s linear;
}

.product-title a:hover {
	color: #8224e3;
}

.price-wrapper {
	color: #111;
	line-height: 1;
	font-size: .9em;
	font-weight: bold;
}

.button-all {
	text-decoration: none;
	text-align: center;
	margin-top: 35px;
}

.button-all a {
	border: 1px solid #111;
	text-decoration: none;
	padding: 10px 20px;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	transition: all .2s ease-in-out;
}

.button-all a:hover {
	background-color: #000;
	color: #fff;
}

.product-card-actions {
	transform: translate3d(0, 0, 0);
	margin-top: 5px;
    display: flex;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    will-change: transform;
    transition: .3s ease-in-out;
	margin-left: 5px;
}

.product-card-actions a {
	height: 46px;
    font-size: 13px;
	text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    flex: 1;
    padding: 0 10px;
    justify-content: center;
    border: 1px solid #1c1c1c;
    background: #fff;
    color: #1c1c1c;
    line-height: 44px;
	margin-right: 14px;
    margin-left: 5px;
}

/* section blogs */
.section-blogs {
	padding: 40px 10px 0 10px;
	margin-right: 200px;
    margin-left: 200px;
    height: 40vh;

}
.section-blog {
	text-align: center;
}
.section-blog-header {
    text-align: center;
}

.section-blog-header a {
	text-decoration: none;
	color: #333;
	letter-spacing: 1px;
	font-weight: 400;
	transition: 0.2s linear;
	text-transform: uppercase;
}

.section-blog-header a:hover {
	color: #916841;
}

.section-blog-items {
	display: flex;
}
.section-blog-item {
	margin-bottom: 15;
	padding: 0 5px;
	width: 25%;
	height: 182px;
}

.section-blog-item a {
	text-decoration: none;
	
}

.section-blog-item h2 {
	color: #000;
}

.section-blog-item-img {
	transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: auto;
    margin: auto;
	
}

.section-blog-item:hover .section-blog-item-img img {
	transform: scale(1.2);
}

.section-blog-item-img img {
	width: 60%;
	transition: transform 1s;
}

.section-blog-item-title {
	
}

.section-blog-item-title h3 {
	color: #1c1c1c;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.67;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
	transition: .3s linear;
}

.section-blog-item:hover .section-blog-item-title h3 {
	color: #916841;
}

.section-blog-item-description {

}

.section-blog-item-description p {
	font-size: 13px;
	line-height: 25px;
	letter-spacing: 0.52px;
	margin-bottom: 0;
	color: #1c1c1c;
	text-align: left;
	word-wrap: break-word;
}

/* sidebar */
.menu {
	height: 60px;
}
.sidebar {
    display: block;
    position: fixed;
    width: 20%;
    background-color: antiquewhite;
    height: 100%;
    transition: linear 0.2s ;
}

.sidebar_logo {
    position: relative;
    text-align: center;
    padding: 7px 20px;
}

.sidebar_user-name {
    display: flex;
    justify-content: center;
    padding: 7px 20px;
}

.sidebar .items .item {
    display: flex;
    padding: 7px 20px;
    width: 90%;
    border-radius: 0 30px 30px 0;
    transition: ease-in 0.1s;
}

.sidebar .items .item a {
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    line-height: 2.5;
    color: black;
}

.sidebar .items .item:hover {    
    font-weight: 700;
    border-left: 3px solid #EB1616;
    outline: none;
    background-color: #191C24;
}

.sidebar .items .item:hover a {
    color: #EB1616;
}

.sidebar .item_img {
    display: flex;
    align-items: center;
}

.sidebar .item_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.sidebar .item_description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* admin navbar */

.admin_navbar {
    position: fixed;
    right: 0;
    width: 80%;
    border-bottom: 1px solid rgba(126, 121, 121, 0.3) ;
    transition: linear 0.2s;
}

.admin_navbar-left {
    float: left;
    left: 0;
}

.admin_navbar-right {
    float: right;
    right: 0;
}

.admin_navbar-left .items,
.admin_navbar-right .items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_navbar-left .items .item,
.admin_navbar-right .items .item {
    font-size: 20px;
    cursor: pointer;
    line-height: 2.2;
    padding: 7px 0px;

}

.admin_navbar .items .item a {
    text-decoration: none;
    color: black;
    padding: 19px 20px;

}

/* sidebar hidden */

.sidebar_close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 0 0;

}

.sidebar_close a {
    padding: 0px 0px 12px 20px;
    cursor: pointer;
    font-size: 16px;
}


